h1 {
  color:purple;
}
.container {background-color: lavender;
}
body {background-color: Turquoise;
}
.navbar {
  background-image: url("Logo_2013_Google.png");
  background-color: white;
  float: inline
}



.login a:hover {
  curser: pointer;
  margin-right: 30px;
  padding: 8px 10px;
  border: 5px
  position: relative;
  float: right;
}
.login a:active {
top: 5px;
}
