h1 {
  color:purple;
}
.container {background-color: lavender;
}
body {
  background-color: Turquoise;
}
.navbar {
  background-image: url("https://goo.gl/images/QX6TwK");
  background-color: white;

}

.navbar li {
  display: inline;
}


.login a:hover {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 10px;
  border: 5px;
  position: relative;
}
.login a:active {
top: 5px;
}

.lavender a:hover {
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 10px;
  border: 5px;
  position: relative;
}

.lavender a:active {
top: 5px;
}


.
