h1 {
  color:purple;
}
.container {background-color: white;
}
body {background-color: Turquoise;
}
.navbar li{
  display: inline;
  background-image: url("File:Google wordmark.gif")
}

.login {
  float: right;
}

.login a:hover {
  curser: pointer;
  margin-right: 30px;
  padding: 8px 10px;
  border: 1px solid #204156;
  position: relative;
}
.login a:active {
top: 5px;
}
